# ESP-VoCat v1.1: ESP32-S3-WROOM-2-N32R16V
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# 32 MB 1.8 V octal flash (OPI/DTR)
CONFIG_ESPTOOLPY_OCT_FLASH=y
# CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT is not set
CONFIG_ESPTOOLPY_FLASHMODE_OPI=y
CONFIG_ESPTOOLPY_FLASH_SAMPLE_MODE_DTR=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y

# 16 MB 1.8 V octal PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# ESP-VoCat USB-C console
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Keep enough internal heap available for DMA display buffers.
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
